* {
  font-family: 'Quicksand', sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #333 transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 2px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 20px;
  border: 3px solid transparent;
}

h1 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
}

h1,
h4,
span,
small {
  text-transform: capitalize;
}

p {
  letter-spacing: 0.5px;
  font-size: 14px;
}

.btn {
  white-space: nowrap !important;
}

.app {
  min-width: 300px;
  max-width: 600px;
  margin: 0px auto;
  position: relative;


  .logo {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    margin-top: -5px;
  }
}

.scrolling-wrapper {
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

app-language {
  min-width: 100%;
}


.lang-card {
  .card-body {
    height: 180px;
    @media only screen and (max-width: 600px) {
      height: 280px;
    }
  }
}
