.app {
  font-family: 'Quicksand', sans-serif;
  min-width: 300px;
  max-width: 600px;
  margin: 50px auto;

  h1 {
    font-size: 30px;
  }

  h4 {
    font-size: 20px;
  }

  h1,
  h4,
  span,
  small {
    text-transform: capitalize;
  }

  p {
    letter-spacing: 0.5px;
    font-size: 14px;
  }
}

.app :global(.logo) {
  height: 50px;
  margin-right: 10px;
  margin-top: -5px;
}

.app :global(.scrolling-wrapper) {
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

.app :global(.lang-card) {
  min-width: 100%;

}
