.app {
  font-family: sans-serif;
  min-width: 300px;
  max-width: 600px;
  margin: 50px auto;

  h1 {
    font-size: 30px;
  }
}


.app :global(.logo) {
    height: 50px;
    margin-right: 10px;
    margin-top: -5px;
}
